<div layout="row" layout-align="center center">
  <div flex-gt-sm="80" layout="row" layout-xs="column">
    <md-card ng-if="appUser.logged" flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Tests statistic</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>Tests taken: {{ appUser.score.tests_taken }}</p>
        <p>Tests passed: {{ appUser.score.tests_passed }}</p>
        <p>Last test taken: {{ appUser.score.recent_test }}</p>
      </md-card-content>
    </md-card>
    <md-card ng-if="appUser.logged">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Your tests</span>
          <span class="md-subhead">Statistics about tests you have created</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>Tests created: {{ appUser.testsCreated }}</p>
      </md-card-content>
    </md-card>
    <md-card flex>
      <md-card-content>
        <h2>Learn by practice</h2>
        <p>Learning with Nancie is the best way to have a real language expirience for beginners. You are able to have simple
          converstation with Nancie(virtual teacher) at very simple level.</p>
      </md-card-content>
    </md-card>
    <md-card flex>
      <md-card-content>
        <h2>Solve tests</h2>
        <p>To strengthen your knowledge remember to periodically solve available tests.</p>
      </md-card-content>
    </md-card>
  </div>
</div>