<h3>{{name}}</h3>
<p>
	{{description}}
</p>

<md-content>
	<div layout="row" ng-cloak>
		<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="3">
			<div layout-padding layout="column" flex>
				<md-button ng-repeat="question in questions" ng-click="goToQuestion(question)" ng-class="{0: '', 1:'md-warn', 2:'md-primary'}[question.submitted + (question.answer == question.userAnswer)]">
					{{question.name}}
				</md-button>
			</div>
		</md-sidenav>
		<div layout="column" flex>
			<div ng-repeat="question in questions" ng-init="compileSource(question)">
				<md-card id="question-{{question.id}}">
					<md-card-header>
						<md-card-header-text>
							<span class="md-title">{{question.name}}</span>
						</md-card-header-text>
					</md-card-header>
					<md-card-content>
						<ng-bind-html ng-bind-html="question.start"></ng-bind-html>{{question.userOutput}}
						<ng-bind-html ng-bind-html="question.end"></ng-bind-html>
					</md-card-content>
					<md-card-actions data-ng-if="!question.submitted">
						<md-input-container data-ng-if="question.category == 'fill'">
							<input placeholder="Answer" name="userAnswer" type="text" ng-model="question.userAnswer" ng-change="animate(question)" aria-label="userAnswer">
						</md-input-container>
						<md-input-container data-ng-if="question.category == 'list'">
							<md-select ng-model="question.userAnswer" ng-change="animate(question)">
								<md-option ng-value="opt" ng-repeat="opt in question.answers">{{ opt }}</md-option>
							</md-select>
						</md-input-container>
						<md-button ng-click="question.submitted = true">Check answer</md-button>
					</md-card-actions>
					<md-card-footer data-ng-if="question.submitted">
						<div data-ng-if="question.userAnswer == question.answer">
							Well done my friend!
						</div>
						<div data-ng-if="question.userAnswer != question.answer">
							Ups! Corrent answer is: {{question.answer}}
						</div>
					</md-card-footer>
				</md-card>

			</div>
		</div>
	</div>
</md-content>