<div ng-controller="DemoCtrl" layout="column" layout-padding ng-cloak>
  <br/>
  <md-content class="md-no-momentum">
    <md-input-container class="md-block">
      <md-icon md-font-set="material-icons"> face </md-icon>
      <input ng-model="user.email" type="email" placeholder="Email">
    </md-input-container>
    <md-input-container md-no-float class="md-block">
      <label>Password</label>
      <input ng-model="user.phone" type="text" placeholder="Password">
    </md-input-container>
  </md-content>
</div>