<div layout="row" layout-align="space-around center" ng-cloak>
  <div layout="column">
    <md-input-container class="md-block">
      <md-icon md-font-set="material-icons"> account_box </md-icon>
      <input ng-model="user.userName" type="text" placeholder="User name" ng-required="true">
    </md-input-container>
    <md-input-container class="md-block">
      <md-icon md-font-set="material-icons"> email </md-icon>
      <input ng-model="user.email" type="email" placeholder="Email" ng-required="true">
    </md-input-container>
    <md-input-container md-no-float class="md-block">
      <label>Password</label>
      <input ng-model="user.password" type="password" ng-required="true">
    </md-input-container>
    <md-input-container md-no-float class="md-block">
      <label>Repeat password</label>
      <input ng-model="user.passwordAgain" type="password" ng-required="true">
    </md-input-container>
    <md-input-container md-no-float class="md-block">
      <md-button id="button-id" class="md-raised" aria-label="Confirm" ng-click="createUser()"> Confirm </md-button>
    </md-input-container>
  </div>
  <div layout="column" layout-align="start center">
    <p>
      Or log in if you already have a account.
    </p>
    <md-input-container class="md-block">
      <md-icon md-font-set="material-icons"> account_box </md-icon>
      <input ng-model="user.userName" type="text" placeholder="User name" ng-required="true">
    </md-input-container>
    <md-input-container md-no-float class="md-block">
      <label>Password</label>
      <input ng-model="user.password" type="password" ng-required="true">
    </md-input-container>
    <md-input-container md-no-float class="md-block">
      <md-button id="button-id" class="md-raised" aria-label="Confirm" ng-click="logIn()"> Log In </md-button>
    </md-input-container>
  </div>
</div>